* {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', Courier, monospace, Haettenschweiler, 'Arial Narrow', sans-serif;
}

.mainBG {
  position: relative;
  overflow: hidden;
  /* width: 130%; */
  height: calc(100vh - 56px);
  object-fit: cover;
  margin-left: -69px;
  margin-right: -68px;
}

.videoBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 40vh;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #444; 
}
